/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap"); */

@import "tailwindcss";

html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.font-serif {
  font-family: "Playfair Display", serif;
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
